#root, .App {
  height: 100%;
}

.menu-container {
  position: fixed;
  background-color: #fff;
  top: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  padding: 16px;
  border-radius: 4px;
  transform: translateX(-100%);
  transition: all .2s;
}
.menu-container.open {
  transform: translateX(0);
}

ul {
  max-height: 80vh;
  overflow-y: auto;
}

.toggle {
  background-color:cornflowerblue;
  height: 35px;
  width: 15px;
  position: absolute;
  right: -15px;
  top: 50%;
  margin-top: -17px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  cursor: pointer;
}

ul, li {
  line-height: 1.5em;
  text-transform: uppercase;
}
li a {
  text-decoration: none;
}